#!/bin/bash
#
#	_______
#	\_   _/
#	  |_|horbits 
#
#	My bash config


#######################################################
#		ALIASES
#######################################################

alias fulist="sed -n 9,41p ~/.functions | pv -qL 150"
# alias fulist="grep -oE '[a-zA-Z_][a-zA-Z0-9_]* *\(\)' "~/.functions" | awk '{print $1}' | sed 's/()//'"
# alias fulist="builtin declare -f | command grep -E '^[a-zA-Z1-9_]+\ \(\)' | sed 's/()//'"

# To temporarily bypass an alias, we precede the command with a \
# EG: the ls command is aliased, but to use the normal ls command you would type \ls
# alias ls='ls -phalANXgs --color=auto --time-style=iso --no-group --group-directories-first'

# Changing "ls" to "eza"
alias ls='eza -al --color=always --group-directories-first' # my preferred listing
alias la='eza -a --color=always --group-directories-first'  # all files and dirs
alias ll='eza -l --color=always --group-directories-first | more'  # long format
alias lt='eza -aT --color=always --group-directories-first | more' # tree listing
alias l.='eza -a | egrep "^\."'

# alias lt="ls -R | grep ':$' | sed -e 's/:$//' -e 's/[^-][^/]*\//-- /g' -e 's/^/   /' -e 's/--/|/'"
alias ld='du -S | sort -n -r | more'
alias lf='du -h --max-depth=1 | more'

# System commands
alias sudo='sudo '
alias reboot='if [ $(id -u) -eq 0 ]; then reboot; else sudo reboot; fi'
alias nf='clear; neofetch'

# Github commands
alias gitcred='git config --global credential.helper store' # verify status with: git config --get-all --global credential.helper
alias gitpush='git add . && git commit -m "$(w3m whatthecommit.com | head -n 1)" --all && git push -u -f origin main'
alias gitpull='git pull origin main'

# Various commands
alias p10="ps aux | sort -nk +4 | tail"                                                 # top ten running processes by memory usage
alias h10="history | awk '{print \$2}' | sort | uniq -c | sort -nr | head"              # 10 most used commands by counts
alias diskspeed='time (dd if=/dev/zero of=zerofile bs=1M count=500;sync);rm zerofile'   # Test hard drive speed
alias rope='if [[ "$i" == "0" ]]; then cd $dir; i=1; else dir=$(pwd); export dir; i=0; fi'  # tie a directory to another
alias linus="wget -qO - https://raw.githubusercontent.com/torvalds/linux/master/Makefile | head -n5 | grep -E '\ \=\ [0-9]{1,}' | cut -d' ' -f3 | tr '\n' '.' | sed -e "s/\.$//""    # check latest online kernel version
